# Vim temp files
.*.sw[a-z]

# ./configure
/.deps
/config.h
/config.log
/config.status
/Makefile
/stamp-h1
						
# Objects
*.o

# debhelper
/debian/files
/debian/sipsak*

# Binary
/sipsak

# Other
build-stamp

